
.NFPlayerDefault {
  left: -370px;
  bottom: -270px;
  height: 220px;
  width: 320px;
  .box-shadow(-3px 3px 20px 0 #585351);
  .transition-duration(.5s);
  .transform(scale(0,0));
  * {
    .transition-duration(.5s);
  }
  &.show {
    left: 40px;
    bottom: 40px;
    .transform(scale(1,1));
  }
  .cover {
    height: 170px;
    width: 320px;
    float: left;
    background-image: url("../images/cover.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
  }
  .progress {
    z-index: 10;
    width: 100%;
    position: absolute;
    bottom: 49px;
    left: 0;
    background-color: #000000;
    height: 4px;
    cursor: pointer;
    .bar {
      float: left;
      height: 4px;
      background-color: #e73e4a;
      .transition-duration(0s);
    }
  }
  .button {
    z-index: 10;
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: -1px;
    left: 0;
    background-image: url("../images/default/def-hr.png");
    background-repeat: repeat-x;
    border-top: 1px solid #393a3b;
    overflow: hidden;
    .left {
      float: left;
      display: inline-block;
      width: 50px;
      height: 49px;
      background-image: url("../images/default/def-left.png");
      background-repeat: no-repeat;
      background-position: center center;
      border-right: 1px solid #393a3b;
      cursor: pointer;
      &:hover {
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
    .right {
      float: right;
      display: inline-block;
      width: 50px;
      height: 49px;
      background-image: url("../images/default/def-right.png");
      background-repeat: no-repeat;
      background-position: center center;
      border-left: 1px solid #393a3b;
      cursor: pointer;
      &:hover {
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
  }

  .close {
    display: inline-block;
    position: absolute;
    opacity: 0;
    width: 50px;
    height: 49px;
    background-image: url("../images/default/def-c.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 12px auto;
    cursor: pointer;
    right: 0;
    top: 0;
    &:hover {
      opacity: 0.8 !important;
    }
  }

  .switch {
    opacity: 0;
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 53px;
    left: 0;
    z-index: 10;
    .action {
      float: left;
      display: inline-block;
      width: 50px;
      height: 50px;
      background-image: url("../images/default/def-action.png");
      background-repeat: no-repeat;
      background-position: center center;
      border-right: 1px solid rgba(255, 255, 255, 0.1);
      cursor: pointer;
      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
      &.stop {
        background-image: url("../images/default/def-stop.png");
      }
    }
    .voice {
      float: right;
      display: inline-block;
      width: 50px;
      height: 50px;
      background-image: url("../images/default/def-y.png");
      background-repeat: no-repeat;
      background-position: center center;
      border-left: 1px solid rgba(255, 255, 255, 0.1);
      cursor: pointer;
      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
      &.stop {
        background-image: url("../images/default/def-m.png");
      }
    }
  }

  .info {
    width: 220px;
    padding: 0 20px;
    position: absolute;
    height: 50px;
    bottom: -1px;
    left: 50px;
    z-index: 10;
    .title {
      height: 20px;
      color: #fff;
      font-size: 13px;
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      margin-top: 5px;
      line-height: 20px;
    }
    .author {
      line-height: 20px;
      height: 20px;
      font-size: 11px;
      color: #9a9a9a;
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-shadow: 0 0 5px #000;
    }
  }

  &:hover {
    .switch {
      opacity: 1;
    }
    .cover {
      background-size: 105% auto;
    }
    .close {
      opacity: 0.2;
    }
  }
}

